.scroll-container {
  height: auto;
  overflow-y: scroll;
  margin-top: 2rem;
  /* border-style: solid;
  border-color: black; */
  margin-top: 0;
  background-color: aliceblue;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}
