.workout-container {
  border-radius: 3px;
  width: 25rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 50px;
  background: rgba(9, 20, 9, 0.2);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 45rem;
  padding-top: 2rem;
}

.container {
  border-style: dashed;
  border-color: red;
  width: inherit;
  height: inherit;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-bottom: 1rem;
  width: 100%;
}

.button {
  font-size: 1rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;

  height: 2rem;
  border-radius: 3px;
  background-color: #38d28f;
  outline: none;
  border: none;
  transition: all 0.4s;
  margin-top: 2rem;
  /* margin-bottom: 2rem; */
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  background-color: #59e7aa;
}
