.exercise-container {
  border-radius: 3px;
  background: white;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.exercise-title {
  padding-left: 1rem;
  padding-top: 1rem;
  color: rgb(16, 172, 224);
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1rem;
}

.exercise {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  display: grid;
  margin-bottom: 0rem;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.each-exercise {
  display: flex;
}

.exercise-forms {
  width: 4rem;
  font-size: small;
  padding: 0.5rem;
  background-color: var(--clr-grey-10);
  border: 0;
}

.previous {
  margin: 0;
}

.set {
  margin: 0;
}

.addSetBtn {
  width: 90%;
  border: 0;
  padding: 0.2rem;
  border-radius: 0.5rem;
  margin-top: 0;
}

.addSetBtn:hover {
  filter: brightness(0.95);
  transition: all 0.2s;
}
