.exercise-container {
  border-radius: 3px;
  background: aliceblue;
  margin-bottom: 1rem;
}

.exercise-title {
  padding-left: 1rem;
  padding-top: 1rem;
}

.exercise {
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.each-exercise {
  display: flex;
}

.exercise-forms {
  /* height: 2rem; */
  width: 4rem;
  font-size: small;
  padding: 0.5rem;
}

.previous {
  margin: 0;
}

.set {
  margin: 0;
}
