.exercise-container {
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 50px;
  background: rgba(9, 20, 9, 0.2);
  margin-bottom: 1rem;
}

.exercise-title {
  padding-left: 1rem;
  padding-top: 1rem;
}

.exercise-grid {
  width: 100%;
  padding: 1rem 1rem 1.5rem 1rem;
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.title-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.each-exercise {
  display: flex;
}

.forms {
  height: 2rem;
  width: 4rem;
  font-size: small;
  padding: 0.5rem;
}
